[submodule "caixiu-backend"]
	path = caixiu-backend
	url = https://github.com/Yurizaki/caixiu-backend
[submodule "caixiu-private"]
	path = caixiu-private
	url = https://github.com/Yurizaki/caixiu-private.git
[submodule "caixiu-public"]
	path = caixiu-public
	url = https://github.com/Yurizaki/caixiu-public.git
[submodule "caixiu-db"]
	path = caixiu-db
	url = https://github.com/Yurizaki/caixiu-db.git

[submodule "caixiu-aws"]
	path = caixiu-aws
	url = https://github.com/Yurizaki/caixiu-aws.git
[submodule "caixiu-resources"]
	path = caixiu-resources
	url = https://github.com/Yurizaki/caixiu-resources
[submodule "caixiu-blog"]
	path = caixiu-blog
	url = https://github.com/Yurizaki/caixiu-blog.git
